@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cousine:ital,wght@0,400;0,700;1,400&family=Nunito+Sans:wght@200&family=Pacifico&display=swap');

.title {
  font-family: 'Audiowide', cursive;
  font-family: 'Cousine', monospace;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Pacifico', cursive;
}

html {
  font-family: 'Audiowide', cursive;
}